.cell
  .grid-x.grid-padding-x
    .cell
      %ul{:class=>"menu align-center"}
        %li
          %a{:href=>"#"} About
        %li
          %a{:href=>"#"} Time Records
        %li
          %a{:href=>"#"} Weekly Report
        %li
          %a{:href=>"#"} Profile Settings


.grid-x.grid-padding-x.align-center.greetings
  .grid-x
    %h1 Welcome to Toggl Track App
.grid-x.grid-padding-x.align-center
  .grid-x
    %h3{:style=>"color:#555"} This is basic toggl track assignment for ruby on rails.


