.grid-x.grid-padding-x.align-center.greetings
  .grid-x
    %h1 Welcome to Toggl Track App
.grid-x.grid-padding-x.align-center
  .grid-x
    %h3{:style=>"color:#555"} This is basic toggl track assignment for ruby on rails.


