%h1
%table
	%thead
		%tr
			%th Comment
			%th Time type
			%th Started time
			%th Finished time
	%tbody
		- @time_record.each do |time|
			%tr
				%td= time.comment
				%td= time.time_type
				%td= time.started_time
				%td= time.finished_time