.grid-x.align-center.large-6
  = link_to "Filter By User",filter_by_user_path,{:style=>"color:white;",:class=>"button"}
  = link_to "Filter By Category",filter_by_category_path,{:style=>"color:white; margin-left:3rem;",:class=>"button"}