// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.greetings {
  margin-top : 3rem;
}

.menu {
  li {
    &:nth-child(even) {
      a {
        &:hover {
          background: #1779ba;
        }
      }
    }
    &:nth-child(odd) {
      a {
        &:hover {
          background: #ffae00;
        }
      }
    }
  }
}

.app-header {
  background: #6edbff;
  min-height: 45px;
}
.right-menu {
  align-items: end;
  justify-content: end;
  display: flex;
  padding: 0.5rem;
  .login-button, .signup-button {
    margin: 0 .1rem;
  }
}