// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.greetings {
  margin-top : 3rem;
}

.menu {
  li {
    &:nth-child(odd) {
      a {
        &:hover {
          background: #cc4b37;
        }
      }
    }
    &:nth-child(even) {
      a {
        &:hover {
          background: #ffae00;
        }
      }
    }
  }
}