.app-header
  .cell
    .grid-x.grid-padding-x.align-middle
      .cell.large-4
        %p.text-left LOGO
      .cell.large-4
        %ul{:class=>"menu align-center"}
          %li
            %a{:href=>"#"} About
          %li
            %a{:href=>"#"} Time Records
          %li
            %a{:href=>"#"} Report
      .cell.large-4.right-menu
        %a.button.login-button Login
        %a.button.signup-button Signup