.app-header
  .cell
    .grid-x.grid-padding-x.align-middle
      .cell.large-4
        %p.text-left LOGO
      .cell.large-4
        %ul{:class=>"menu align-center"}
          %li
            = link_to "About",  users_path
          %li
            = link_to "Time Records", time_records_path
          %li
            = link_to "Report", filter_path
      .cell.large-4.right-menu
        %a.button.login-button Login
        %a.button.signup-button Signup